.content{
    width: 600px;
    padding: 20px;
}
.input-group{
    width: 100%;
}
.input-group .form-control{
    width: 210px;
}
.input-group-addon,
.input-group-btn,
.input-group,
.form-control {
    display: inline-block;
}
.input-group-btn1{
    margin-left: 50px;
}
.input-group-addon,
.input-group-btn{
    width: 60px;
}
.checked{
    float: left;
    position: relative;
    background: #2a6496;
    border: 1px solid #2a6496;
    margin: 1px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.tag{
    margin-top: 20px;
}
.form-horizontal{
    margin-top: 30px;
}
.status-disabled{
    color: #ccc;
}
.quick-add-form{
    margin-top: 20px;
}
.quick-add .form-group{
    height: 30px;
}